{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="shortcut icon" href="{% static 'nivel/img/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'nivel/css/style.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@7.4.47/css/materialdesignicons.min.css">
    <script src="https://cdn.jsdelivr.net/npm/mqtt/dist/mqtt.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns"></script>
    
</head>

<body>
    <nav id="sidebar">
        <a class="logo" href="#">
            <h2><span class="mdi mdi-water-check-outline"></span>AquaMonitor</h2>
        </a>
        <a href="#" class="active"><span class="mdi mdi-chart-areaspline"></span>Dashboard</a>
        <a href="alertas.html" class="esconde"><span class="mdi mdi-alert-outline"></span>Alertas</a>
        <br>
        <a href="login.html" class="login esconde"><span class="mdi mdi-login"></span>Login</a>
        <a href="restrita.html" class="logout esconde"><span class="mdi mdi-logout"></span>Logout</a>
    </nav>
    <main>
        <header>
            <h1>Monitoramento da caixa d'Água</h1>
            <p class="disabled">Acompanhe o consumo e vazão em tempo real</p>
        </header>
        <section id="cards">
            <div class="card">
                <h3 class="disabled"><span class="mdi mdi-cup-water"></span>Volume</h3>
                <span id="volume-meter-label" class="valor">???</span><span class="unidade"> L</span>
                <progress id="volume-meter" value="500" min="0" max="1000"></progress>
                <span class="mdi mdi-water-alert status" id="status-volume"> Normal</span>
                <p class="legenda disabled">Autonomia <span id="tempo-autonomia">??</span> h</p>
            </div>
            <div class="card">
                <h3 class="disabled"><span class="mdi mdi-water-pump"></span>Vazão</h3>
                <span class="valor" id="valor-vazao">??</span><span class="unidade"> L/h</span>
                <p class="legenda disabled">Consumo atual</p>
            </div>
            <div class="card">
                <h3 class="disabled"><span class="mdi mdi-pump"></span>Bomba</h3>
                <span id="status-bomba" class="status alert"></span>
                <span id="valor-bomba" class="valor">Dados indisponíveis</span>
                <button id="power-bomba"><span class="mdi mdi-power"></span></button>
                <p id="legenda-bomba" class="legenda disabled">...</p>
            </div>
            <div class="card">
                <h3 class="disabled"><span class="mdi mdi-wifi-check"></span>MQTT</h3>
                <span id="status-mqtt" class="status alert"></span>
                <span class="valor" id="valor-mqtt">Aguarde...</span>
                <p id="mqtt-status-txt" class="legenda disabled">Conectando aos tópicos ....</p>
            </div>
        </section>
        <section id="charts">
            <div class="chart">
                <canvas id="VolumeChart"></canvas>
            </div>
            <div class="chart">
                <canvas id="VazaoChart"></canvas>
            </div>
            <div class="chart">
                <canvas id="statusBomba"></canvas>
            </div>
            <div class="chart">
                <canvas id="tempoOnOff"></canvas>
            </div>
        </section>
        <footer>
            <p>Desenvoldo para o projeto integrador IV - Univesp</p>
        </footer>
    </main>
    <script src="{% static 'nivel/js/script.js' %}"></script>
</body>

</html>